PORT=:8081
API_URL=localhost:8081

DB_ADDR=postgres://postgres:postgres@localhost:5432/social?sslmode=disable
DB_MAX_OPEN_CONNS=30
DB_MAX_IDLE_CONNS=5
DB_MAX_IDLE_TIME=15m

MAIL_SMTP_HOST=localhost
MAIL_SMTP_PORT=1025
MAIL_FROM_EMAIL=social@example.com

AUTH_BASIC_USERNAME=admin
AUTH_BASIC_PASSWORD=password

AUTH_JWT_SECRET=change-me-to-a-random-secret
AUTH_JWT_AUD=social
AUTH_JWT_ISS=social

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_ENABLED=true

RATE_LIMIT=100
RATE_LIMIT_WINDOW=1m
RATE_LIMIT_ENABLED=true
